@use "sass:map";
@use "@angular/material" as mat;

@use "themecolors/blue_theme";

@use "variables" as *;
@use "override-component";
@use "theme-variables/default-variables";
@use "theme-variables/light-theme-variables";

//container layout
@use "layouts/transitions";
@use "helpers/color";
@use "helpers/border-color";
@use "helpers/icon-size";
@use "container";
@use "layouts/layouts";
@use "grid/grid";
@use "helpers/custom-flex";
@use "helpers/index";

@use "pages/auth";
@use "pages/dashboards";


.success-snackbar {
  background-color: #4caf50 !important;
  color: #fff !important; 
}

.error-snackbar {
  background-color: #f44336 !important; 
  color: #fff !important; 
}

.warning-snackbar {
  background-color: #ff9800 !important; 
  color: #fff !important; 
}
