<div class="container">
  <div class="left">
    <img src="../../../../assets/images/portLogin.jpg" alt="Login Illustration" />
  </div>
  <div class="right">
    <h2>Sign up</h2>

    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Your Name</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>

      <button mat-flat-button color="primary" class="full-width">Log in</button>
    </form>
    <legend>
      <div class="account-link">
        <a href="#">Create an account</a>
      </div>


    </legend>

  </div>
</div>