<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">{{headerName}}</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content class="b-t-1">
        <form  [formGroup]="menuMasterForm" *ngIf="menuMasterForm">
            <div class="row">
                <div class="col-md-4">
                    <app-cm-input [_inputData]="clientControls.inputMenuName" name="menuName"
                        [formGroup]="menuMasterForm" controlName="menuName"></app-cm-input>
                </div>
                <div class="col-md-4">
                    <app-cm-input [_inputData]="clientControls.inputMenuPath" name="menuPath"
                        [formGroup]="menuMasterForm" controlName="menuPath"></app-cm-input>
                </div>
                <div class="col-md-4">
                        <app-cm-select2 [settings]="clientControls.selectParentId" controlName="parentId"></app-cm-select2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <app-cm-input [_inputData]="clientControls.inputDisplayOrder" name="displayOrder"
                        [formGroup]="menuMasterForm" controlName="displayOrder"></app-cm-input>
                </div>
                <div class="col-md-4">
                    <app-cm-toggle [settings]="clientControls.toggleIsActive" name="isActive" 
                    [formGroup]="menuMasterForm" controlName="isActive"> </app-cm-toggle>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <mat-label>Select Menu Icon*</mat-label>
                </div>
                <div class="col-md-4">
                    <input type="file" id="fileInput" name="icon" formControlName="icon" accept="image/*" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <app-cm-button color="primary" type="stroked" class="m-r-8"
                        (buttonClicked)="buttonTriggered($event)">Submit</app-cm-button>
                </div>
                <div class="col-md-2">
                    <app-cm-button color="secondary" type="stroked" class="m-r-8"
                        (buttonClicked)="buttonTriggered($event)">Cancel</app-cm-button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>