<mat-card class="cardWithShadow theme-card">

    <div class="row" style="padding-top: 10px;">
        <div class="col-md-6">
            <mat-card-header>
                <mat-card-title class="m-b-0">Pass Activation and Deactivation Details</mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <mat-card-content class="b-t-1">
        <form>
            <div class="hstack align-items-center flex-column flex-lg-row m-b-30">
                <div class="col-md-12">
                    <app-cm-table _headerName="Pass Activation and Deactivation" [btnArray]="btnArray" [gridArr]="_vehicleData"
                        [headArr]="displayedColumnsComp" [totalRecords]="totalRecords" [totalPages]="totalPages" (btnAction)="buttonClickedTab($event)"
                        [perPage]="recordPerPage" (pager)="onPager($event)" (recordPerPage)="onRecordPageChange($event)"
                        fieldName="id"></app-cm-table>
                </div>
            </div>
            <div class="hstack align-items-center flex-column flex-lg-row m-b-30">
                <div class="col-md-12">
                    <app-cm-button color="secondary" type="stroked" class="m-r-8" (buttonClicked)="buttonTriggered($event)">Pay Now</app-cm-button>
                    <!-- <button mat-button color="primary" class="m-r-8" (click)="PayControl()">Pay Now</button> -->
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>