<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-12">
                <app-total-followers></app-total-followers>
            </div>
            <div class="col-12">
                <app-total-income></app-total-income>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-12">
                <app-total-income></app-total-income>
            </div>
            <div class="col-12">
                <app-total-followers></app-total-followers>
            </div>
        </div>
    </div>
</div>