<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">{{headerName}}</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content class="b-t-1">
        <app-cm-table _headerName="Deactivation Of Pass" [gridArr]="gridArray"
        [headArr]="displayedColumnsComp" [totalRecords]="totalRecords" [totalPages]="totalPages" (btnAction)="buttonClickedTab($event)"
        [perPage]="recordPerPage" (pager)="onPager($event)" (recordPerPage)="onRecordPageChange($event)"
        fieldName="id"></app-cm-table>
    </mat-card-content>
</mat-card>